:root {
  --color-primary-white: #ffffff;
  --color-primary-orange: #ff9f0e;
  --color-primary-black: #181817;

  --color-secondary-ornage: #fcb62a;
  --color-secondary-floral: #fffaf3;
  --color-secondary-light: #f1f3ff;
  --color-secondary-grey: #839aa9;
  --color-secondary-white: #f9f9ff;
  --color-secondary-purple: #d9a6ff;
  --color-secondary-pink: #ff6e9f;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
