.link {
  color: var(--color-primary-black);
  font-weight: 400;
  transition: color 0.2s linear, font-weight 0.2s linear;
  &:hover {
    color: var(--color-primary-orange);
    font-weight: 700;
  }
}
