.pagination {
  display: flex;
  justify-content: center;
  gap: 24px;
  &__bullet {
    width: 12px;
    height: 12px;
    background-color: var(--color-secondary-grey);
    border-radius: 50%;
    &--active {
      background-color: var(--color-primary-orange);
    }
  }
}
