.happy-section {
  &__title {
    text-align: center;
    margin-bottom: 48px;
  }
  &__list {
    margin-bottom: 32px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  &__button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-grey);
    transition: background-color 0.2s linear;
    &:hover {
      background-color: var(--color-primary-orange);
    }
  }
  &__arrow {
    fill: var(--color-primary-white);
    &.next {
      transform: rotate(180deg);
    }
  }
}
